<!-- Contact -->
<section id="contact" class="wrapper split">
    <div class="inner">
        <section>
            <h2>{{ site.contact.form_title }}</h2>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-large col-6-medium col-12-xsmall">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="col-6 col-12-large col-6-medium col-12-xsmall">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="col-12">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="5"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <h2>{{ site.contact.contact_list_title }}</h2>
            <ul class="bulleted-icons">
                {% for list_item in site.contact.contact_list %}
                    <li>
                        <span class="icon-wrapper"><span class="icon {{ list_item.icon }}"></span></span>
                        <h3>{{ list_item.title }}</h3>
                        <p>
                            {% if list_item.type == 'contact_item_link' %}
                                <a href="{{ list_item.link_url }}">{{ list_item.link_label }}</a>
                            {% else %}{% if list_item.type == 'contact_item_text' %}
                                {{ list_item.text | newline_to_br }}
                            {% endif %}{% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</section>
